@import url("http://fonts.googleapis.com/css?family=Inconsolata");

html, body {
    color: #000;
    font-family: Inconsolata, monospace;
/*    background: url("pics/tech.jpg");
    background-size: cover;
    background-repeat: no-repeat; maybe leter*/ 
}

.dot {
	width: 25px;
	height: 25px;
	background-color: black;
	position: absolute;
	font: 15px Courier New;
}
input[type="text"] {
	background: transparent;
	border: none;
	font: 15px Courier New;
}
#coords {
	position:fixed;
	bottom: 0;
	font: 15px Courier New;
}

header h1 {
    font-weight: 100;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 36px;

}
#lines-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#content {
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;

    width: 55%;
    margin: -250px auto 0;
    padding: 12px;
    text-align: center;
}

.note {
	font-weight: 100;
    letter-spacing: 5px;
    line-height: 2.8em;
    margin-bottom: 24px;
    font-size: 18px;
}

.note a {
    color: #999999;
    text-decoration: none;
}

.note a:hover {
    color: #00ccff;
}

.icons {
    display: inline-block;
    font-size: 24px;
}

.icons a {
    color: #999;
    padding: 0 8px 4px;
}

.icons a:hover {
    color: #00ccff;
}
.icon {
	text-decoration: none;
	position: relative;
	font-size: 24px;
}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon.circle {
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		border: 0;
		border-radius: 100%;
		display: inline-block;
		font-size: 1.25em;
		height: 2.25em;
		left: 0;
		line-height: 2.25em;
		text-align: center;
		text-decoration: none;
		top: 0;
		width: 2.25em;
	}

		.icon.circle:hover {
			top: -0.2em;

		}

	.icon.featured {
		cursor: default;
		display: block;
		margin: 0 0 1.5em 0;
		opacity: 0.35;
		text-align: center;
	}

		.icon.featured:before {
			font-size: 5em;
			line-height: 1em;
		}

	.icon > .label {
		display: none;
	}